/* *Poppins Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  /* fonts */
  --Poppins: "Poppins", sans-serif;
  --time-new-roman: "Times New Roman", sans-serif;
  /* colors */
  --primary-color: #273043;
  --secondary-color: #dd0426;
  --light-gray: #969bb1;
  --light-red: #f02d3a;
  --whitesmoke: #f0f2f5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-top: 55px;
}

/* ! Navigation bar  */

nav {
  width: 100%;
  height: 55px;
  background-color: var(--primary-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

nav > div {
  width: 50%;
}

.logo-container {
  width: 60%;
}

.logo-bg {
  width: 80px;
  background-color: white;
}

.irvin-dev-logo {
  height: 55px;
  display: block;
  margin: 0 auto;
}

.link-container {
  width: 40%;
  min-width: 500px;
}

.links-list {
  width: 100%;
  height: inherit;
  list-style: none;
  display: flex;
  align-self: center;
  justify-content: center;
}

.links-list > li {
  height: 55px;
  line-height: 55px;
}

.links-list a {
  padding: 10px 20px;
  text-decoration: none;
  vertical-align: middle;
  font: 600 1.7rem var(--Poppins);
  color: white;
  transition: color 0.3s ease-in-out;
}

.links-list a:hover {
  color: var(--secondary-color);
}

/* ! Home Section */

main {
  width: 100%;
  height: 100%;
  background-color: white;
}

.home-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.profile-container,
.hero-container {
  width: 50%;
  height: 100%;
}

.profile-container {
  height: 650px;
  background: url("./assets/Developer\ Profile\ Picture.png") no-repeat center;
  background-size: cover;
}

.bg-cover {
  width: 100%;
  height: inherit;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    white 100%
  );
}

.hero-container {
  padding: 100px 100px 0;
}

.greeting {
  color: var(--light-gray);
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--primary-color);
}

.author-name {
  font: bold 7vw var(--time-new-roman);
  color: var(--primary-color);
  margin: 30px 0 20px;
}

.specialization {
  font: bold 3vw var(--time-new-roman);
  color: var(--light-gray);
}

.hero-contacts {
  width: 100%;
  margin-top: 100px;
}

.hero-contacts a {
  margin: 20px 0;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  font: bold 2rem var(--Poppins);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.hero-contacts a:hover {
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0 1px 2px var(--primary-color);
}

.hero-contacts i {
  margin: 0 5px;
}

/* ! About Me Section */
#about-me-section {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  padding: 100px;
}

.about-me-header {
  color: white;
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--secondary-color);
}

.personal-info {
  margin: 50px 0 20px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.about-para {
  font: 600 1.8rem var(--Poppins);
  text-align: justify;
}

.other-info-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  width: 100%;
  background-color: var(--whitesmoke);
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 3px var(--light-gray);
  font: bold 2rem var(--Poppins);
  color: var(--primary-color);
}

.info-container {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  text-align: center;
}

.info-container label {
  font: normal italic 1.5rem var(--Poppins);
  color: var(--secondary-color);
}

.info-container > p,
.info-container address {
  font: bold 1.5rem var(--Poppins);
  padding-top: 20px;
  color: var(--primary-color);
}

.skill-list {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.note {
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--light-gray);
  background-color: var(--whitesmoke);
  padding: 10px;
}

.note p {
  font: bold 1.2rem var(--Poppins);
  text-align: justify;
  color: var(--primary-color);
}

.dev-img-2 {
  width: 100%;
  height: 100%;
}
/* ! Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ! Navigation Bar */
  .link-container {
    display: none;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* ! Home Section */
  .home-section {
    flex-direction: column;
  }

  .profile-container,
  .hero-container {
    width: 100%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 50px 20px 0;
  }

  .author-name {
    font: bold 17vw var(--time-new-roman);
  }

  .specialization {
    font: bold 8vw var(--time-new-roman);
  }

  .hero-contacts {
    margin: 70px 0 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ! Navigation Bar */
  .link-container {
    display: none;
  }

  /* ! Home Section  */
  .home-section {
    flex-direction: column;
  }

  .profile-container,
  .hero-container {
    width: 100%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 50px 50px 0;
  }

  .author-name {
    font: bold 17vw var(--time-new-roman);
  }

  .specialization {
    font: bold 8vw var(--time-new-roman);
  }

  .hero-contacts {
    margin: 70px 0 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* ! Navigation Bar */
  .link-container {
    display: block;
  }

  /* ! Home Section */
  .hero-container {
    padding: 100px;
  }

  .hero-contacts {
    margin: 100px 0;
  }

  .author-name {
    font: bold 15vw var(--time-new-roman);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ! Navigation Bar */
  .link-container {
    display: block;
  }

  /* ! Home Section */
  .home-section {
    flex-direction: row;
  }

  .profile-container,
  .hero-container {
    width: 50%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to right,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 100px 100px 0;
  }

  .author-name {
    font: bold 6.5vw var(--time-new-roman);
  }

  .specialization {
    font: bold 3vw var(--time-new-roman);
  }

  .hero-contacts {
    margin: 100px 0 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .link-container {
    display: block;
  }
}
