/* *Poppins Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  /* fonts */
  --Poppins: "Poppins", sans-serif;
  --time-new-roman: "Times New Roman", sans-serif;
  /* colors */
  --primary-color: #273043;
  --secondary-color: #dd0426;
  --light-gray: #969bb1;
  --light-red: #f02d3a;
  --whitesmoke: #f0f2f5;
  --midnight: #1e2431;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-top: 55px;
}

/* ! Navigation bar  */

nav {
  width: 100%;
  height: 55px;
  background-color: var(--midnight);
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 20px;
}

.logo-container {
  width: 70px;
  background-color: white;
  display: inline-block;
}

.my-logo {
  height: 55px;
  margin: 0 auto;
  display: block;
}

.list-container {
  float: right;
  margin-right: 50px;
}

.list-container li {
  line-height: 60px;
  float: left;
  list-style: none;
  padding: 0 20px;
}

.list-container a {
  color: white;
  text-decoration: none;
  font: normal 1.7rem var(--Poppins);
  transition: color 0.3s ease-in-out;
}

.list-container a:hover {
  color: var(--secondary-color);
}

#check {
  display: none;
}

.menu-btn {
  display: none;
  float: right;
  color: white;
  font-size: 3rem;
  line-height: 57px;
  transition: color 0.3s ease;
}

/* ! Home Section */

main {
  width: 100%;
  height: 100%;
  background-color: white;
}

.home-section {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
    130deg,
    transparent,
    transparent,
    transparent,
    var(--light-gray)
  );
}

.profile-container,
.hero-container {
  width: 50%;
  height: 100%;
}

.profile-container {
  height: 650px;
  background: url("./assets/Developer\ Profile\ Picture.png") no-repeat center;
  background-size: cover;
}

.bg-cover {
  width: 100%;
  height: inherit;
}

.hero-container {
  padding: 100px 100px 0;
}

.greeting {
  color: var(--light-gray);
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--primary-color);
}

.author-name {
  font: bold 7vw var(--time-new-roman);
  color: var(--primary-color);
  margin: 30px 0 0;
}

.specialization {
  font: bold 3vw var(--time-new-roman);
  color: var(--light-gray);
}

.specialization::before {
  content: "< ";
  color: var(--secondary-color);
}

.specialization::after {
  content: " / >";
  color: var(--secondary-color);
}

.quote-container {
  margin-top: 50px;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.quote {
  font: normal 2.7rem var(--Poppins);
  color: white;
}

.quote i {
  margin-right: 10px;
}

.philosopher-name {
  text-align: end;
  padding: 20px 25px 0;
  font: normal 2rem var(--Poppins);
  color: white;
}

/* ! About Me Section */
#about-me-section {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  padding: 100px;
}

.about-me-header {
  color: white;
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--secondary-color);
}

.introduction-header {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 3px var(--light-gray);
  font: bold 2rem var(--Poppins);
  color: var(--primary-color);
}

.personal-info {
  margin: 50px 0 20px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--whitesmoke);
}

.about-para {
  font: 600 1.8rem var(--Poppins);
  text-align: justify;
  color: var(--primary-color);
  padding: 30px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 1px 3px var(--light-gray);
  border-radius: 5px;
}

.freecodecamp-link {
  color: var(--secondary-color);
  text-decoration: underline var(--secondary-color);
}
.other-info-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cards {
  width: 100%;
  height: 100%;
  background-color: var(--whitesmoke);
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 3px var(--light-gray);
  font: bold 2rem var(--Poppins);
  color: var(--primary-color);
}

.sub-card-container {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.sub-card-1,
.sub-card-2 {
  width: 100%;
  min-height: 100px;
  background-color: white;
  box-shadow: 0 1px 3px var(--light-gray);
  border-radius: 5px;
  padding: 20px;
}

.sub-card-1 > p {
  text-align: center;
  font: bold 1.4rem var(--Poppins);
}

.sub-card-1 > .label {
  font: bold italic 1.2rem var(--Poppins);
  color: var(--light-red);
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

.brief-info {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 5px;
}

.brief-info i {
  float: left;
  font-size: 40px;
  color: var(--secondary-color);
  padding: 5px 10px 0 0;
  line-height: 40px;
}

.brief-info p {
  text-align: justify;
  color: white;
  font: normal 1.2rem var(--Poppins);
  line-height: 20px;
}

.tech-stack {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  background-color: var(--whitesmoke);
  border-radius: 5px;
}

.tech-stack ul {
  width: 50%;
  font: bold 1.2rem var(--Poppins);
  list-style-position: inside;
  color: var(--primary-color);
}

.card-bg {
  background: var(--whitesmoke) url("./assets/person-working-from-home.png")
    no-repeat center;
  background-size: contain;
}

/* ! Project Section */
#project-section {
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: var(--whitesmoke);
  background: url("./assets/Rect\ Light.svg") no-repeat;
  background-size: cover;
}

.project-header {
  color: var(--secondary-color);
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--primary-color);
}

.project-container {
  margin: 50px 0;
  padding: 20px 50px 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0;
  background-color: white;
  box-shadow: 0 0 5px var(--light-gray);
  border-radius: 5px;
}

.project-img {
  width: 100%;
  border: 1px solid rgba(202, 202, 202, 0.7);
}

.project-title {
  text-align: center;
  padding: 20px 0;
}

.project-title a {
  font: italic 2rem var(--Poppins);
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.project-title a::before {
  content: "< ";
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.project-title a::after {
  content: " />";
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-title a:hover::before,
.project-title a:hover::after {
  opacity: 1;
}

.project-card a:hover {
  color: var(--primary-color);
}

.more-btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font: bold 1.4rem var(--Poppins);
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out;
}

.more-btn:hover {
  background-color: var(--primary-color);
}

/* ! Contacts Section */
#contacts-section {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
.contacts-wrapper {
  padding: 100px;
}

.contact-header {
  color: white;
  display: inline;
  font: 600 2rem var(--Poppins);
  border-bottom: 4px solid var(--secondary-color);
}

.contact-container {
  margin: 20px 0 50px;
  width: 100%;
  height: 100px;
  display: flex;
}

.get-in-touch,
.socials {
  width: 50%;
  padding: 20px 0;
}

.socials {
  height: 100%;
}

.get-in-touch p {
  color: var(--light-gray);
  font: bold 9rem var(--time-new-roman);
}

.socials-header {
  text-align: center;
  color: var(--secondary-color);
  font: bold 1.7rem var(--Poppins);
}

.socials-list {
  margin: 0 auto;
  width: 70%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 20px 0;
}

.socials-list a {
  font-size: 4rem;
  color: white;
  position: relative;
  bottom: 0;
  transition: bottom 0.3s ease;
}

.socials-list a:hover {
  bottom: 7px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
  font: normal 1.2rem var(--Poppins);
  background-color: var(--midnight);
}

/* ! Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ! Navigation Bar */
  .list-container {
    width: 50%;
    height: 100vh;
    display: block;
    position: fixed;
    clear: right;
    top: 55px;
    margin: 0;
    right: -100%;
    background-color: rgba(30, 36, 49, 0.7);
    transition: right 0.5s ease;
  }

  .list-container li {
    width: 100%;
    clear: left;
    text-align: center;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .list-container {
    right: 0;
  }

  #check:checked ~ .menu-btn {
    color: var(--secondary-color);
  }

  /* ! Home Section */
  .home-section {
    flex-direction: column;
  }

  .profile-container,
  .hero-container {
    width: 100%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 50px 20px 0;
  }

  .author-name {
    font: bold 17vw var(--time-new-roman);
  }

  .specialization {
    font: bold 8vw var(--time-new-roman);
  }

  .quote-container {
    margin: 50px 0;
  }

  .quote {
    font: normal 5vw var(--Poppins);
  }

  .philosopher-name {
    padding: 10px 25px 0;
    font: normal 4vw var(--Poppins);
  }

  /* ! About Me Section */
  #about-me-section {
    padding: 70px 20px 50px;
  }

  .about-me-header {
    font: 600 2rem var(--Poppins);
  }

  .personal-info {
    margin: 50px 0 20px;
  }

  .about-para {
    font: 600 3.2vw var(--Poppins);
  }

  .other-info-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }

  .sub-card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card-bg {
    display: none;
  }

  /* ! Project Section */
  #project-section {
    padding: 70px 20px 50px;
  }

  .project-container {
    padding: 20px 0 0;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .project-card {
    padding: 10px 10px 0;
  }

  .project-title {
    text-align: center;
    padding: 20px;
  }

  .project-title a {
    font: italic 5vw var(--Poppins);
  }

  /* ! Contact Section */
  .contacts-wrapper {
    padding: 50px 20px 0;
  }

  .contact-container {
    margin: 20px 0;
    height: 100%;
    flex-direction: column;
  }

  .get-in-touch,
  .socials {
    width: 100%;
    padding: 20px 0;
  }

  .get-in-touch p {
    text-align: center;
    font: bold 11vw var(--time-new-roman);
  }

  .socials-list a {
    font-size: 9vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ! Navigation Bar */
  .list-container {
    width: 50%;
    height: 100vh;
    display: block;
    position: fixed;
    clear: right;
    top: 55px;
    margin: 0;
    right: -100%;
    background-color: rgba(30, 36, 49, 0.7);
    transition: right 0.5s ease;
  }

  .list-container li {
    width: 100%;
    clear: left;
    text-align: center;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .list-container {
    right: 0;
  }

  #check:checked ~ .menu-btn {
    color: var(--secondary-color);
  }

  /* ! Home Section  */
  .home-section {
    flex-direction: column;
  }

  .profile-container,
  .hero-container {
    width: 100%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 50px 50px 0;
  }

  .author-name {
    font: bold 17vw var(--time-new-roman);
  }

  .specialization {
    font: bold 8vw var(--time-new-roman);
  }

  .quote-container {
    padding: 20px;
    margin: 50px 0;
  }

  .quote {
    font: normal 4vw var(--Poppins);
  }

  .philosopher-name {
    padding: 10px 25px 0;
    font: normal 3vw var(--Poppins);
  }

  /* ! About Me Section */
  #about-me-section {
    padding: 100px 50px;
  }

  .about-me-header {
    font: 600 2rem var(--Poppins);
  }

  .personal-info {
    margin: 50px 0 20px;
  }

  .about-para {
    font: 600 1.8rem var(--Poppins);
  }

  .other-info-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-bg {
    display: none;
  }

  /* ! Project Section */
  #project-section {
    padding: 100px 50px 50px;
  }

  .project-container {
    padding: 20px 0 0;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .project-card {
    padding: 10px 10px 0;
  }

  .project-title {
    text-align: center;
    padding: 20px;
  }

  .project-title a {
    font: italic 4.5vw var(--Poppins);
  }

  /* ! Contact Section */
  .contacts-wrapper {
    padding: 50px 50px 0;
  }

  .contact-container {
    margin: 20px 0;
    height: 100%;
    flex-direction: column;
  }

  .get-in-touch,
  .socials {
    width: 100%;
    padding: 20px 0;
  }

  .get-in-touch p {
    text-align: center;
    font: bold 11vw var(--time-new-roman);
  }

  .socials-list a {
    font-size: 5.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* ! Navigation Bar */
  .list-container {
    display: block;
    position: static;
    height: unset;
    clear: none;
    float: right;
    top: 55px;
    margin: 0 50px;
    width: unset;
    background-color: transparent;
    transition: none;
  }

  .list-container li {
    width: unset;
    clear: none;
    float: left;
    text-align: center;
  }

  .menu-btn {
    display: none;
  }

  /* ! Home Section */
  .hero-container {
    padding: 100px;
  }

  .hero-contacts {
    margin: 100px 0;
  }

  .author-name {
    font: bold 15vw var(--time-new-roman);
  }
  .quote-container {
    padding: 25px;
    margin: 50px 0 0;
  }

  .quote {
    font: normal 3.5vw var(--Poppins);
  }

  .philosopher-name {
    padding: 10px 25px 0;
    font: normal 2.5vw var(--Poppins);
  }
  /* ! About Me Section */
  #about-me-section {
    padding: 100px 50px;
  }

  .about-me-header {
    font: 600 2rem var(--Poppins);
  }

  .personal-info {
    margin: 50px 0 20px;
  }

  .about-para {
    font: 600 2.1vw var(--Poppins);
  }

  .other-info-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ! Project Section */

  .project-container {
    padding: 20px 0 0;
    height: 100%;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .project-card {
    padding: 10px 10px 0;
  }

  .project-title {
    text-align: center;
    padding: 20px;
  }
  .project-title a {
    font: italic 2.3vw var(--Poppins);
  }

  /* ! Contact Section */
  .contacts-wrapper {
    padding: 50px 50px 0;
  }

  .contact-container {
    margin: 20px 0;
    height: 100%;
    flex-direction: column;
  }

  .get-in-touch,
  .socials {
    width: 100%;
    padding: 20px 0;
  }

  .get-in-touch p {
    text-align: center;
    font: bold 11vw var(--time-new-roman);
  }

  .socials-list a {
    font-size: 5.5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ! Navigation Bar */
  .link-container {
    display: block;
  }

  /* ! Home Section */
  .home-section {
    flex-direction: row;
  }

  .profile-container,
  .hero-container {
    width: 50%;
  }

  .bg-cover {
    width: 100%;
    height: inherit;
    background: linear-gradient(
      to right,
      transparent,
      transparent,
      transparent,
      white
    );
  }

  .hero-container {
    padding: 100px 100px 0;
  }

  .author-name {
    font: bold 6.5vw var(--time-new-roman);
  }

  .specialization {
    font: bold 3vw var(--time-new-roman);
  }

  .quote-container {
    padding: 25px;
  }

  .quote {
    font: normal 1.7vw var(--Poppins);
  }

  .philosopher-name {
    padding: 15px 25px 0;
    font: normal 1.3vw var(--Poppins);
  }

  /* ! About Me Section */
  #about-me-section {
    padding: 100px;
  }

  .about-me-header {
    font: 600 2rem var(--Poppins);
  }

  .personal-info {
    margin: 50px 0 20px;
  }

  .about-para {
    font: 600 1.8rem var(--Poppins);
  }

  .other-info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .sub-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .card-bg {
    display: none;
  }

  /* ! Project Section */
  #project-section {
    padding: 100px;
  }

  .project-container {
    padding: 20px 0 0;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .project-card {
    padding: 10px 10px 0;
  }

  .project-title {
    text-align: center;
    padding: 20px;
  }
  .project-title a {
    font: italic 1.2vw var(--Poppins);
  }

  /* ! Contact Section */
  .contacts-wrapper {
    padding: 100px;
  }

  .contact-container {
    margin: 20px 0;
    height: 100%;
    flex-direction: row;
  }

  .get-in-touch,
  .socials {
    width: 100%;
    padding: 20px 0;
  }

  .get-in-touch p {
    text-align: center;
    font: bold 6vw var(--time-new-roman);
  }

  .socials-list a {
    font-size: 2.5vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .link-container {
    display: block;
  }

  .other-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .sub-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-bg {
    display: block;
  }
}
